PORT=4000
NODE_ENV=development
CLIENT_URL=http://127.0.0.1:3000
MONGODB_URI=mongodb://mongo:27017/notey
JWT_SECRET=dev-secret-change-me
JWT_EXPIRES_IN=7d
MINIO_ENDPOINT=127.0.0.1
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=notey
MINIO_SECRET_KEY=noteysecret
MINIO_BUCKET=notey-files
